/*Les fonts*/

@font-face {
    font-family: Blocks;
    src: url("../fonts/BloodBlocks Project.ttf");
}

@font-face {
    font-family: "Crow";
    src: url("../fonts/bloodcrow.ttf");
}

@font-face {
    font-family: Signature;
    src: url("../fonts/Distant_Stroke.otf");
}


/*Navbar*/

#navbar-padding{
	padding: 0.5%;
	box-shadow : 0 0 25px 10px #000;
	transition: 0.4s;
}

/* navbar */
.navbar-default {
	z-index: 100;
	transition: 0.4s;
	padding: 1.5%;
    background: url(../img/navbar.jpg) no-repeat center;
    background-size: 100%;
    border-color: #E7E7E7;
    border: 0px;
    box-shadow: 0 0 20px 10px #000;
}

.logo{
	display: block;
	margin: auto;
	width: 25%;
}

/* title */
.navbar-default .navbar-brand {
    color: #ff0000;
    text-shadow: 0 0 1px #000;
    transition: 0.4s;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
    text-shadow: 0 0 1px #ff0000;
    transition: 0.4s;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
    font-family: Crow;
    transition: 0.4s;
    font-size: 1.5vw;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    text-shadow: 0 0 10px #fff;
    transition: 0.4s;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


/*Barre de scroll*/

::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    background-color: black; 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px #ff0000; 
    background-color: #BE0000;
}

html{
	overflow-x: hidden;
}

#background_1{
	color: black;
	background: url("../img/body_background/1.jpg") center fixed no-repeat;
}

#background_2{
	color: black;
	background: url("../img/body_background/2.jpg") center fixed no-repeat;
}

#background_3{
	color: black;
	background: url("../img/body_background/3.jpg") center fixed no-repeat;
}

#background_4{
	color: black;
	background: url("../img/body_background/4.jpg") center fixed no-repeat;
}

#background_5{
	color: black;
	background: url("../img/body_background/5.jpg") center fixed no-repeat;
}

#homepage .user{
	transition: 1s;
	width: 15%;
    float: left;
}

#homepage .user:hover{
	transition: 1s;
	border-radius: 100%;
	border: 5px #fff dashed;
}

#homepage .col-md-12 .signature {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: Signature;
    font-size: 2vw;
    text-align: right;
}

#homepage .user{
	margin: 0% 3% 3% 1%;
}

#homepage .members div{
	padding: 2%
}

#homepage .members {
	margin-bottom: 5%;
}

#homepage .members img:hover{
	border-radius: 0%;
	transition: 0.4s;
}

#homepage .members img {
    width: 65%;
    border-radius: 100%;
    transition: 0.4s;
    display: block;
    margin: auto;
}

#homepage .members p{
	color: #fff;
	text-shadow: 0 0 10px #fff;
	font-size: 1vw;
	font-family: Crow;
	text-align: center;
	display: none;
}

#homepage h3{
	font-family: Crow
}

.hiddenstuff, .hiddenstuff-1, .hiddenstuff-2{
	display: none;
}

.hidden{display : none;
}


/* Section index */

iframe{
	margin-bottom: 5%;
	opacity: 0.8;
}

iframe:hover{
	opacity: 1;
	transition: 0.4s;
}

.section_videos div{
  font-size: 2.3vw;
  color: #ff0000;
  font-family: "Blocks";
  text-align: center;
  transition: 0.4s;
}

.section_videos div:hover{
	text-shadow: 0 0 1px #fff;
	transition: 0.4s;
	opacity: 0.4;
}

.section_videos iframe{
	height: 50%;
}

#hide_stuff{
	    padding: 1%;
    border-radius: 50px;
    border: 0px;
    width: 4%;
    background-color: black;
    color: white;
    margin-top: -1%;
}

#section_aboutus .bloc_news img{
	margin-right: 3%;
}

.gallery img{
	width: 20%;
	margin: auto;
	/*height: 20%;*/
}

#chronique, #news, #biographie{
	color: black;
	text-shadow: 0 0 5px #ff0000;
	border-radius: 5px;
	font-family: "blocks";
	font-size: 4vw;
	transition: 0.4s;
	margin-top: 2%;
	margin-bottom: 2%;
}

section .container{
	margin-top: 10%;
}

h1 .sub_title{
	 font-size: 2vw;
    line-height: 0;
    font-family: Crow;
}

#section_news img{
	margin: 0% 2% 2% 0%;
}

#section_news p{
	font-size: 1vw;
	color: #fff;
	font-family: sans-serif;
	text-shadow: 0 0 1px #fff;
}

.bloc_news{
	padding: 2%;
	border-top: 1px #fff solid;
	margin-bottom: 5%;
}

.bloc_news p{
}

.bloc_news h3{
	font-family: Crow;
}

.bloc_news img{
	width: 50%;
	float: left;
}	

#light{
	color: #fff;
	text-shadow: 5px 5px 5px #fff;
}

#chronique:hover, #news:hover, #biographie:hover{
	transition: 0.4s;
	color: #ff0000;
	border-radius: 5px;
	cursor: pointer;
}



.bloc_gallery p{
	text-align: center
}

.gallery div{
	padding: 2%;
}

.gallery img:hover{
	opacity: 0.4;
	cursor: pointer;
	transition: 0.4s;
}

.gallery img{
	transition: 0.4s;
}

.bloc_gallery{
	padding: 2%;
}

.dates{
  font-size: 3vw;
  color: #ff0000;
  list-style-type: none;
}

.dates a{
	color: #ff0000;
	text-shadow: 0 0 1px white;
	font-family: "MB-real grinder";
	}

.dates a:hover{
	text-shadow: 0 0 1px #ff0000;
	transition: 0.4s;
	text-decoration: none
}

h1{
	font-size: 8vw;
	color: #000;
	text-shadow: 0 0 10px #ff0000;
	font-family: "MB-real grinder";
	margin: 0%;
}

h1 span{
	font-size: 12vw;
}

h2{
  font-size: 4vw;
  color: #ff0000;
  font-family: "Blocks";
}

h3{
  font-size: 3vw;
  color: #ff0000;
  font-family: "MB-real grinder";
}

footer a{
	color: #ff0000;
}

footer a:hover{
	color: white;
	transition: 0.6s;
	text-decoration: none
}

.aside{
	height: auto;
	float: right;
	padding: 0.5%;
	margin-top: 4%;
	background-color: #ff0000;
	color: white;
	border-radius: 10px;
	border: 1px #ff0000 solid;
	box-shadow: 0 0 10px 1px #ff0000;
}

.container{
	background: url(../img/container.jpg) fixed;
	margin-bottom: 5%;
	color :white;
	box-shadow: 0 0 10px 1px #000;
	/*transition: 0.4s;*/
	display: none;
}

.container:hover{
	border-radius: 10px;
	transition: 0.4s;
}

video{
	width: 100%;
	z-index: -10;
	margin-top: -5%;
	box-shadow: 0 0 10px 10px black;
}

.video h1{
	margin-top: -15%;
	z-index: 100;
	position: absolute;
}

.contact{
	background-color: black;
	border: 1px white solid;
	margin-top: -60%;
	color: black;
	border-radius: 10px;
	border: 1px #ff0000 solid;
	opacity: 0.8;
	padding-bottom: 2%;
}

textarea{
	max-width: 80%;
	max-height: 30%;
}

.contact:hover{
	opacity: 1;
	transition: 0.4s;
}

.contact h1{
	font-family: "Blocks";
	margin: 0;
	padding: 0;
}

.contact input, .contact textarea{
	margin-bottom: 3%;
	margin-top: 3%;
	padding: 1%;
	border-radius: 5px;
}

video h1{
	z-index: 100;
	font-size: 50px;
}

footer{
	background: url("../img/footer.png")top no-repeat;
	background-size: 100% auto;
	padding-top: 0.5%;
	margin: 0;
	box-shadow: 0 0 10px 5px black;
}

footer a:hover{
	color: black;
}

footer i{
	margin: 2%;
	color: black;
}

footer i:hover{
	transition: 0.4s;
	color: #ff0000;
}

.bloc_chroniques h4, .section_videos h4{
	font-family: Crow;
}

#btn-custom{
	display: none;
	padding: 1%;
	font-family: Crow;
	background-color: rgba(0,0,0,0);
	color: #fff;
	font-size: 2vw;
	border: 2px #fff solid;
}

#btn-custom:hover{
	padding: 1%;
	font-family: Crow;
	background-color: #fff;
	color: #000;
	border: 2px #000 solid;
	transition: 0.4s;
}

.bloc_chroniques{
    padding: 1%;
    box-shadow: 0 0 14px 1px #b70000;
    margin: 2% 0% 2% 0%;
    background-color: #000;
    transition: 0.4s;
}

.bloc_chroniques a:hover{
	text-decoration: none;
	color: #ff0000;
	text-shadow: 0 0 1px #fff;
	transition: 0.4s;
}

.bloc_chroniques a{
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 1px #fff;
	transition: 0.4s;
}

.bloc_chroniques:hover{
	opacity: 0.6;
	transition: 0.4s;
}

.navbar-brand{
	font-size: 6vw;
	color: #000;
	text-shadow: 0 0 10px #ff0000;
	font-family: Blocks;
}


@media screen and (max-width: 768px){

	body, #background_1, #background_2, #background_3, #background_4, #background_5{
	color: black;
	background: url("../img/body_background/3.jpg") center fixed;
	/*background-size: 100% 100%;*/
	overflow-x: hidden;
	}

	.gallery img{
	width: 100%;
	height: 10%;
	}

	.logo{
		width: 60%;
	}

	#video_accueil video{
		display: none
	}

	#video_accueil{
		background: url(../img/Logo.png);
	}

	#homepage .members{
		display: none
	}

	#homepage .col-md-12 .signature{
		font-size: 4vw;
	}

	#contact video{
		display: none
	}

	#contact .contact{
		margin-top: 0%;
	}

	.bloc_chroniques h4{
		font-size: 2vw;
	}

	.socials .fa{
		font-size: 8vw;
	}

	h1{
		font-size: 10vw;
	}

	h2{
		font-size: 6vw;
	}

	.navbar-default .navbar-brand{
		font-size: 8vw;
	}

	.navbar-default{
		background-size: auto;
		padding: 0.5%;
	}

	.navbar-default .navbar-nav > li{
		/*display: inline-block;*/
	}

	.navbar-default .navbar-nav > li > a{
		font-size: 3vw;
	}

	.user{
		display: none
	}

	footer a{
		color: #ff0000;
	}

	footer a:hover{
		color: white;
		transition: 0.6s;
		text-decoration: none
	}

	.aside{
		display: none
	}

	.container{
		background-color: black;
		margin-bottom: 5%;
		color :white;
		border: 1px #ff0000 solid;
		border-radius: 10px;
		box-shadow: 0 0 10px 1px #ff0000;
	}

	img{
		border-radius: 15px;
	}

	.contact{
		background-color: black;
		border: 1px white solid;
		color: black;
		border-radius: 10px;
		border: 0px #ff0000 solid;
		opacity: 0.8;
		padding-bottom: 2%;
		font-size: 2vw;
	}
	.contact button{
		font-size: 2vw;
		margin-bottom: 3%;
	}

	textarea{
		max-width: 80%;
		max-height: 30%;
	}

	.contact:hover{
		opacity: 1;
		transition: 0.4s;
	}

	.contact h1{
		font-family: "Blocks";
		margin: 0;
		padding: 0;
	}

	.contact input, .contact textarea{
		padding: 1%;
		border-radius: 5px;
	}

	footer{
		background: url("../img/footer.png")top no-repeat;
		background-size: 100% 100%;
		padding-top: 0.5%;
		margin-bottom: 0%;
		margin-top: 15%;
	}

	footer a:hover{
		color: black;
	}

	footer i{
		margin: 2%;
		color: black;
	}

	footer i:hover{
		transition: 0.4s;
		color: #ff0000;
	}
	#chronique, #news, #biographie{
		font-size: 5vw;
	}
}


@media screen and (min-width: 1280px){
	#chronique, #news, #biographie{
		font-size: 3vw;
	}
	.navbar-brand{
		font-size: 5vw;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 1.2vw;
	}
	h3{
		font-size: 2vw;
	}
	.contact{
		margin-top: -65%;
	}
	h1{
		font-size: 6vw;
	}
	h1 span{
		font-size: 10vw;
	}
	#homepage .members p{
		font-size: 0.6vw;
	}